@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .shadow-custom {
        box-shadow: 0 4px 6px rgba(49,54,68,.05), 0 5px 20px rgba(49,54,68,.08);
        transition: box-shadow .6s ease;
    }
    .shadow-custom:hover {
        box-shadow: 0 4px 6px rgba(49,54,68,.09), 0 10px 40px rgba(49,54,68,.3);
    }

    .shadow-custom-bright {
        box-shadow: 0 4px 6px rgba(49,54,68,.1), 0 5px 20px rgba(49,54,68,.2);
        transition: box-shadow .6s ease;
    }
    .shadow-custom-bright:hover {
        box-shadow: 0 4px 6px rgba(49,54,68,.2), 0 10px 40px rgba(49,54,68,.5);
    }


    @keyframes pulsate-opacity {
        0% {
            opacity: 0.5;
        }
        50% {
            opacity: 0.8;
        }
        100% {
            opacity: 0.5;
        }
    }
    
    .pulsate-opacity {
        animation: pulsate-opacity 1.25s ease-out;
        animation-iteration-count: infinite;
        opacity: 0.5;
    }
}